contexttimer
decord
diffusers==0.14.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf==2.3.0
opencv-python-headless==4.5.5.64
opencv-python==4.7.0.72
opendatasets
webdataset==0.2.48
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.6.13
torch==2.0.0
torchaudio
torchvision
huggingface-hub==0.18.0
matplotlib==3.7.0
psutil==5.9.4
pyyaml==6.0
regex==2022.10.31
tokenizers==0.13.2
tqdm==4.64.1
transformers==4.30.0
peft==0.2.0
sentence-transformers
gradio==3.47.1
accelerate==0.20.3
bitsandbytes==0.37.0
wandb
wheel
visualizer
tensorboard
kmeans_pytorch
visual_genome
gpustat
torchviz